rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite acesso público de leitura e escrita para a coleção service_orders
    match /service_orders/{document=**} {
      allow read, write: if true;
    }
  }
}
